.cabecalhoPrincipal .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalhoPrincipal-nav {
    display: flex;
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    width: 70%;
    margin-right: 25%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* OR (flex-flow: column wrap;*/
    height: 250px;
}

.conteudoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link{
    width: 20%;
}

.conteudoPrincipal-cursos-link:nth-child(4n){
    margin-right: 0;
}

.conteudoPrincipal-cursos-link:nth-child(4n+1){
    margin-left: 0;
}